.Wrap {}

.header {
    line-height: 100px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.header .gnb a {
    display: block;
}

.header .gnb>ul {
    display: flex;
    gap: 40px
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li:hover .smenu {
    display: block;
}

.header .gnb .smenu {
    position: absolute;
    top: 100px;
    left: 50%;
    display: none;
    transform: translateX(-50%);
    background: #fff;
    line-height: 35px;
    width: 150px;
    z-index: 999;
    text-align: center;
    border: 3px solid #ddd;
}

.main_visual {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #333;
    height: 600px;
}

.footer {
    padding: 100px 0;
    text-align: center;
}

.mbtn {
    display: none;
}

@media (max-width:768px) {
    .header {
        line-height: 100px;
    }

    .header .container {
        display: flex;
        justify-content: space-between;
        width: auto;
        margin: 0 auto;
    }


    .header .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        width: calc(100% - 90px);
        height: 100vh;
        background: #fff;
        z-index: 999;
        border-right: 1px solid #ddd;
        padding: 100px 15px;
    }

    .header .gnb.on {
        left: 0;
    }

    .header .gnb>ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        line-height: 35px;
    }

    .header .gnb>ul>li {
        position: relative;
        border-bottom: 1px solid #ddd;
    }

    .header .gnb .smenu {
        position: static;
        top: 90px;
        left: 50%;
        display: none;
        transform: translateX(0);
        background: #fff;
        line-height: 35px;
        width: auto;
        z-index: 999;
        text-align: center;
        border: none;
        background: #f1f1f1;
    }

    .header .gnb>ul>li:hover .smenu {
        display: none;
    }

    .main_visual {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: #333;
        height: 600px;
    }

    .footer {
        padding: 100px 0;
        text-align: center;
    }

    .mbtn {
        display: block;
        top: 30px;
        right: 30px;
        position: fixed;
        padding: 5px;
        background: #f1f1f1;
        border-radius: 5px;
        font-size: 23px;
        line-height: 1;
        z-index: 999;
    }
}